*/target/**
*/bin/**
*/.metadata
*/.classpath
*/.project
*/.settings
*/.idea
*.iml
*.iws
*/.DS_Store
*/.mymetadata
*/.myumldata
.mymetadata
.myumldata
.settings
.project
.classpath
.idea
*.iml
*.iws
.DS_Store
.metadata
pom.xml.backup
j2ee-rest-api-app/deploy.cmd
rest-api-master-pom/deploy.cmd
rebel.xml
