body  
{
	/* background-color: #F1F1F1; */
	color: #000000;
	font-family: verdana,arial,helvetica,sans-serif;
	/* font-size: 14; */
	margin-left: 8%;
	margin-right: 4%;
}

hr
{
	margin-left: -4%;
}

a:link        
{
	/* color: blue; */
	color: #511112;
	/* text-decoration: none; */
}

a:visited     
{
	color:green;
	text-decoration: none;
}

a:active      
{
	color:green;
	text-decoration: none;
}

a:hover      
{
	color:red;
	text-decoration: underline;
}

pre.programlisting {
	font-family: monospace;
	background-color: #E0E0E0;
	border: thin solid gray;
	/* width: 80%; */
	/* margin-left: 10%; */
	font-size: 12;
	padding: 10px;
}

pre.screen {
	font-family: monospace;
	background-color: #E0E0E0;
	border: thin solid gray;
	/* width: 80%; */
	/* margin-left: 10%; */
	font-size: 12;
	padding: 10px;
}

div.note {
	border: 1px solid green;
	text-align: center:
}

div.important {
	color: red;
	border: 1px solid red;
	text-align: center:
}

div.warning {
	color: red;
	border: 2px solid red;
	text-align: center:
}

div.caution {
	border: 1px solid #1111BB;
	text-align: center:
}

div.table
{
	font-family: monospace;
	background-color: #E0E0E0;
	border: thin solid gray;
	font-size: 12;
	margin-top: 5px;
	margin-bottom: 5px;
}

h1	{
	font-family: verdana,arial,helvetica,sans-serif;
	font-size: 24px;
	margin-left: -4%;
}

pre.programlisting {
	border: thin solid gray;
}

h2	{
	font-family: verdana,arial,helvetica,sans-serif;
	font-size: 20px;
}

h2.appendix	{
	font-family: verdana,arial,helvetica,sans-serif;
	font-size: 24px;
	margin-left: -4%;
	color: gray;
	text-align: center:
}

.title { 
	font-family: Arial, Helvetica, sans-serif;
	font-variant: small-caps;
	color: #511111;
	text-align: center;
}

h2.title { 
	border: thin solid gray;
}

.author	{
	font-family: verdana,arial,helvetica,sans-serif;
	font-size: 12px;
	text-align: center;
}

.editedby	{
	font-family: verdana,arial,helvetica,sans-serif;
	font-size: 12px;
	text-align: center;
}

.editor	{
	font-family: verdana,arial,helvetica,sans-serif;
	font-size: 12px;
	text-align: center;
}

div.chapter-divider
{
	font-family: verdana,arial,helvetica,sans-serif;
	font-size: 9px;
}

