body  
{
	background-color: #F1F1F1;
	color: #000000;
	font-family: helvetica,sans-serif;
	font-size: 13;
	margin-left: 8%;
	margin-right: 4%;
}


.title { 
	font-size: small;
	background-color: #CCCCCC;
	border-style: inset;
	color: #163433;
	padding: 3px;
}


pre.programlisting {
	border: thin solid gray;
	font-family: monospace;
	background-color: #E0E0E0;
	border: thin solid gray;
	font-size: 11px;
	padding: 10px;
	margin-left: 10%;
	margin-right: 10%;
}

pre.screen {
	border: thin solid gray;
	font-family: monospace;
	background-color: #E0E0E0;
	border: thin solid gray;
	font-size: 11px;
	padding: 10px;
}


div.note {
	border: 1px solid green;
}

div.important {
	color: red;
	border: 1px solid red;
}

div.warning {
	color: red;
	border: 2px solid red;
}

div.caution {
	color: #1111BB;
	border: 1px solid #1111BB;
}

/*
hr
{
	margin-left: -4%;
}

a:link        
{
	color: blue;
	text-decoration: none;
}

a:visited     
{
	color:green;
	text-decoration: none;
}

a:active      
{
	color:green;
	text-decoration: none;
}

a:hover      
{
	color:red;
	text-decoration: underline;
}

pre.programlisting {
	border: thin solid gray;
	font-family: monospace;
	background-color: #E0E0E0;
	border: thin solid gray;
	font-size: 11px;
	padding: 10px;
}

div.note {
	border: 1px solid green;
}

div.important {
	color: red;
	border: 1px solid red;
}

div.warning {
	color: red;
	border: 2px solid red;
}

div.caution {
	color: #1111BB;
	border: 1px solid #1111BB;
}

div.table
{
	font-family: monospace;
	background-color: #E0E0E0;
	border: thin solid gray;
	font-size: 12;
	margin-top: 5px;
	margin-bottom: 5px;
}

table
{
	width: 100%;
}

h1	{
	font-family: verdana,arial,helvetica,sans-serif;
	font-size: 24px;
	margin-left: -4%;
}

h2	{
	font-family: verdana,arial,helvetica,sans-serif;
	font-size: 20px;
}

h2.appendix	{
	font-family: verdana,arial,helvetica,sans-serif;
	font-size: 24px;
	margin-left: -4%;
	color: gray;
	text-align: center;
}

.title { 
	font-family: Arial, Helvetica, sans-serif;
	font-variant: small-caps;
	color: #330099;
	text-align: center;
}

.author	{
	font-family: verdana,arial,helvetica,sans-serif;
	font-size: 12px;
	text-align: center;
}

.editedby	{
	font-family: verdana,arial,helvetica,sans-serif;
	font-size: 12px;
	text-align: center;
}

.editor	{
	font-family: verdana,arial,helvetica,sans-serif;
	font-size: 12px;
	text-align: center;
}

div.chapter-divider
{
	font-family: verdana,arial,helvetica,sans-serif;
	font-size: 9px;
}
*/
